# Grab select Census Tracts

In [1]:
#Import the GIS object and authenticate
from arcgis import GIS
gis = GIS('pro')

In [9]:
#Use the 'content' helper to search for feature layers with keyword Census
results = gis.content.search(query='census  tract',item_type='Feature Layer',outside_org=True)
results

[<Item title:"USA Block Groups" type:Feature Layer Collection owner:esri_dm>,
 <Item title:"California Census Tract Boundaries" type:Feature Layer Collection owner:Ferrar@FracTracker.org>,
 <Item title:"CDC’s Social Vulnerability Index (SVI) – 2014 overall SVI, census tract level" type:Feature Layer Collection owner:data_cdc>,
 <Item title:"USA Tracts" type:Feature Layer Collection owner:esri_dm>,
 <Item title:"USA Counties" type:Feature Layer Collection owner:esri_dm>,
 <Item title:"LA County Supervisorial District" type:Feature Layer Collection owner:lacounty_isd>,
 <Item title:"USA Census Tracts" type:Feature Layer Collection owner:sfoss_startups>,
 <Item title:"Dissemination Areas" type:Feature Layer Collection owner:cmxadmin>,
 <Item title:"CRA 2015A Census Tracts" type:Feature Layer Collection owner:rpminfonet>,
 <Item title:"CDC’s Social Vulnerability Index (SVI) – 2014 socioeconomic SVI, county level" type:Feature Layer Collection owner:data_cdc>]

In [10]:
#Have a look at the 4th result
results[3]

In [13]:
#Save it as an arcgis "item" object
tractsItem = results[3]
type(tractsItem)

arcgis.gis.Item

In [20]:
#Get the layer from the item
tractsLyr = tractsItem.layers[0]
type(tractsLyr)

arcgis.features.layer.FeatureLayer

Query the feature layer: <br>
https://developers.arcgis.com/python/guide/working-with-feature-layers-and-features/#Querying-feature-layers

In [25]:
for f in tractsLyr.properties.fields:
    print(f['name'])

OBJECTID_1
ObjectID
STATE_FIPS
CNTY_FIPS
STCOFIPS
TRACT
FIPS
POP2010
POP10_SQMI
POP2012
POP12_SQMI
WHITE
BLACK
AMERI_ES
ASIAN
HAWN_PI
HISPANIC
OTHER
MULT_RACE
MALES
FEMALES
AGE_UNDER5
AGE_5_9
AGE_10_14
AGE_15_19
AGE_20_24
AGE_25_34
AGE_35_44
AGE_45_54
AGE_55_64
AGE_65_74
AGE_75_84
AGE_85_UP
MED_AGE
MED_AGE_M
MED_AGE_F
HOUSEHOLDS
AVE_HH_SZ
HSEHLD_1_M
HSEHLD_1_F
MARHH_CHD
MARHH_NO_C
MHH_CHILD
FHH_CHILD
FAMILIES
AVE_FAM_SZ
HSE_UNITS
VACANT
OWNER_OCC
RENTER_OCC
SQMI

In [28]:
query_result = tractsLyr.query("FIPS LIKE '37063%'")
len(query_result)

60

In [59]:
#View results as a spatially enabled data frame
sdf = query_result.sdf
sdf.head()

,AGE_10_14,AGE_15_19,AGE_20_24,AGE_25_34,AGE_35_44,AGE_45_54,AGE_55_64,AGE_5_9,AGE_65_74,AGE_75_84,...,POP2010,POP2012,RENTER_OCC,SHAPE,SQMI,STATE_FIPS,STCOFIPS,TRACT,VACANT,WHITE
0,232,243,191,510,460,466,299,233,160,100,...,3152,3130,456,"{""rings"": [[[-78.8875150111089, 36.03652607561...",1.31,37,37063,000101,127,981
1,226,284,316,879,682,493,439,297,191,196,...,4535,4419,1101,"{""rings"": [[[-78.9062140604305, 36.04292494892...",1.53,37,37063,000102,179,1939
2,114,127,210,611,563,439,296,177,102,65,...,2946,3155,662,"{""rings"": [[[-78.880122002928, 36.013835942075...",1.17,37,37063,000200,200,1369
3,121,114,271,600,376,277,249,158,84,32,...,2504,2604,759,"{""rings"": [[[-78.9000969815904, 36.01716198573...",0.55,37,37063,000301,130,1042
4,143,121,280,835,625,417,322,219,116,64,...,3426,3517,881,"{""rings"": [[[-78.8956800297096, 36.01690994174...",0.67,37,37063,000302,124,2249

In [62]:
sdf['SHAPE'][0]['rings']

[[[-78.8875150111089, 36.0365260756179],
  [-78.8875270458365, 36.0354169489331],
  [-78.8874040320704, 36.0354169489331],
  [-78.8869779980361, 36.0354169489331],
  [-78.8857980047741, 36.0354099297246],
  [-78.8834950118853, 36.0352449643837],
  [-78.8836740165426, 36.0341620781174],
  [-78.8836740165426, 36.0340810159262],
  [-78.8836629854584, 36.0340230195468],
  [-78.8836399205459, 36.0339929345263],
  [-78.8836160201632, 36.0339610112917],
  [-78.8835479945443, 36.033927918039],
  [-78.8833549505705, 36.0339070258886],
  [-78.8825710735961, 36.033867079802],
  [-78.8823429308815, 36.0338440148894],
  [-78.8804579500743, 36.0336599956124],
  [-78.8780700512918, 36.0334149717236],
  [-78.8779819698919, 36.0334119634913],
  [-78.878156963573, 36.0324049575228],
  [-78.8782350166327, 36.0319490057421],
  [-78.8782679426114, 36.0317529535361],
  [-78.8782749627193, 36.0315570677046],
  [-78.8782570788011, 36.0314220201102],
  [-78.8782129544642, 36.0312939926237],
  [-78.8781360705232, 36.0311450729868],
  [-78.8780339498069, 36.0309919742003],
  [-78.8777969478708, 36.0306819338242],
  [-78.8777409569796, 36.0305619291897],
  [-78.8777299258953, 36.03035400953],
  [-78.8778059734669, 36.0300989573011],
  [-78.8778499305298, 36.0300050258114],
  [-78.8780819178462, 36.0297050128761],
  [-78.8787050086292, 36.0291509513553],
  [-78.8787599967764, 36.0290889431003],
  [-78.8788860187747, 36.0288910517806],
  [-78.8789309785818, 36.0287979557611],
  [-78.8791019603871, 36.0283139244481],
  [-78.8790060234092, 36.0282390468946],
  [-78.8789209502417, 36.0282029454096],
  [-78.8788350416039, 36.0281419398987],
  [-78.8787599967764, 36.0280799316436],
  [-78.8787030022417, 36.0280040513459],
  [-78.8786650625426, 36.0279420430909],
  [-78.8786369830103, 36.0278579726673],
  [-78.8786269546702, 36.0276510557517],
  [-78.8768659903731, 36.0270690819726],
  [-78.8758569789164, 36.0266480616588],
  [-78.8753619165192, 36.0264511730832],
  [-78.8747020569543, 36.0261889343719],
  [-78.8742479433878, 36.0260360028593],
  [-78.8738780666195, 36.0260209607987],
  [-78.8735660207552, 36.0259360540057],
  [-78.8736699805851, 36.0251630417411],
  [-78.8737460281566, 36.0246800131721],
  [-78.8738309340503, 36.0244650743038],
  [-78.8738969532818, 36.0242429480537],
  [-78.8740010803855, 36.0237759651887],
  [-78.8743420412522, 36.0223210293921],
  [-78.8745409353158, 36.0213710179582],
  [-78.8747119180206, 36.0204509242708],
  [-78.8748429537393, 36.0197449339815],
  [-78.8749179985667, 36.018474017462],
  [-78.8751660315871, 36.017312075392],
  [-78.8752810225012, 36.0167439736555],
  [-78.8753309960286, 36.0164590036802],
  [-78.8753849814317, 36.0161140309378],
  [-78.8754399704782, 36.0157809256493],
  [-78.8754790801954, 36.0155340626469],
  [-78.8754999723458, 36.0153500442692],
  [-78.8755079951978, 36.0151670286355],
  [-78.8755049869656, 36.0149450696593],
  [-78.8754969641136, 36.014221028178],
  [-78.875474066475, 36.0136870224382],
  [-78.8754710582427, 36.0136029520147],
  [-78.8754670463671, 36.0135399410155],
  [-78.8758210447054, 36.0135730342682],
  [-78.876178051276, 36.0136039547588],
  [-78.8763540468018, 36.0136220059509],
  [-78.8765990715899, 36.0136330370351],
  [-78.8767889400575, 36.0136480790956],
  [-78.8768659903731, 36.0136509209533],
  [-78.8769580836486, 36.0136549319296],
  [-78.8773909705168, 36.0136830114619],
  [-78.8775870227229, 36.0136950452901],
  [-78.8776849660883, 36.0137000590105],
  [-78.8779550603777, 36.0137179429288],
  [-78.8783090587161, 36.0137430142288],
  [-78.8787180452016, 36.0137679173556],
  [-78.8788079648157, 36.0137759402076],
  [-78.8791009576431, 36.0137689200996],
  [-78.880122002928, 36.0138359420751],
  [-78.8816499771647, 36.0139370609467],
  [-78.8821330057336, 36.0139689841813],
  [-78.8830826826197, 36.0140426917169],
  [-78.8843220104524, 36.0141509970709],
  [-78.8849310601203, 36.0141919459016],
  [-78.8859129947888, 36.014256962389],
  [-78.8863739611893, 36.0142880501534],
  [-78.8870480282439, 36.0143380245802],
  [-78.8872220191808, 36.0143500584085],
  [-78.8874698840279, 36.0143691123447],
  [-78.8875419206231, 36.0143724551248],
  [-78.8875890531922, 36.0143744606129],
  [-78.8876729572411, 36.0143799761551],
  [-78.8877550212771, 36.0143869962629],
  [-78.8878820460196, 36.0143980273471],
  [-78.8880100735061, 36.0144100611755],
  [-78.8881479629581, 36.0144199222416],
  [-78.8884790627585, 36.0144540182384],
  [-78.8886400162237, 36.0144747431149],
  [-78.8888140071606, 36.0144969725573],
  [-78.8890080538786, 36.0145270575777],
  [-78.8892260018785, 36.0145619890446],
  [-78.889451971831, 36.0146039406194],
  [-78.8895699718767, 36.0146300146635],
  [-78.8897730441906, 36.0146729689824],
  [-78.889854941852, 36.0146920229186],
  [-78.8899739437425, 36.0147199342776],
  [-78.8901153423491, 36.0147565375842],
  [-78.8902209731194, 36.0147839480209],
  [-78.890436080161, 36.01484695902],
  [-78.8903799210964, 36.0151489774434],
  [-78.8903550179697, 36.0152430762071],
  [-78.890307049031, 36.0154200753763],
  [-78.8902789703981, 36.0155220288186],
  [-78.8902530636279, 36.0156179657965],
  [-78.8902279932273, 36.0157209228823],
  [-78.8902029228266, 36.0158220417539],
  [-78.8901330589935, 36.0160919687694],
  [-78.8900959538651, 36.016238047448],
  [-78.8900790735904, 36.0163109195134],
  [-78.8922929814359, 36.0163550438502],
  [-78.8923070207524, 36.0164289186597],
  [-78.8923140408602, 36.0165749973383],
  [-78.892285961328, 36.0174419419921],
  [-78.8922650691775, 36.0185749690596],
  [-78.8926479825183, 36.0185729635714],
  [-78.8926899340931, 36.0186229379983],
  [-78.892612047408, 36.0196939568107],
  [-78.8926080364317, 36.0197639879178],
  [-78.8926060309435, 36.019811955957],
  [-78.8925879797515, 36.0212369740072],
  [-78.8925749431791, 36.0216160427462],
  [-78.89250608209, 36.0235249239361],
  [-78.8925809596435, 36.0238580292247],
  [-78.892627925838, 36.0242710275859],
  [-78.8926879277057, 36.0244520377314],
  [-78.8927519414489, 36.024783973002],
  [-78.8928049250072, 36.0252429339143],
  [-78.8928209698119, 36.0252940783591],
  [-78.892839021004, 36.025442997996],
  [-78.8929000256156, 36.0264700597455],
  [-78.8930090000653, 36.0275950648604],
  [-78.893102931555, 36.0289520572917],
  [-78.8945969770688, 36.0287200699753],
  [-78.8949280768692, 36.0298850202775],
  [-78.8934470679278, 36.0300859198294],
  [-78.8936349309073, 36.0311980556458],
  [-78.8936270753292, 36.0312490328167],
  [-78.8935999994404, 36.0312789505631],
  [-78.8934980450987, 36.0313080319402],
  [-78.8922510298611, 36.0314820228771],
  [-78.8907890748559, 36.0316899425368],
  [-78.8908278509246, 36.031884824725],
  [-78.890887017322, 36.0321819958025],
  [-78.8909545411191, 36.0324783314099],
  [-78.8910429570668, 36.0328659239233],
  [-78.8914260376815, 36.0328109357761],
  [-78.8924840199215, 36.0326519877991],
  [-78.8925199541325, 36.0328309924564],
  [-78.8926439706427, 36.0336319169795],
  [-78.8926750584072, 36.0337310294635],
  [-78.8918569190615, 36.0345199201582],
  [-78.8917900634606, 36.0344590819212],
  [-78.8917170241213, 36.03438804807],
  [-78.8916500021459, 36.0343150096301],
  [-78.8916640414623, 36.0344019210119],
  [-78.8916849336127, 36.034463929267],
  [-78.8917419281474, 36.0345670527274],
  [-78.8917579729521, 36.034624047262],
  [-78.8917710095244, 36.0347260016038],
  [-78.8917690040363, 36.0348030519194],
  [-78.8917519564876, 36.0348739184966],
  [-78.8917150186332, 36.0349379322398],
  [-78.8916780807788, 36.0349880730412],
  [-78.8916329536978, 36.0350330337475],
  [-78.8915639262342, 36.0350840109184],
  [-78.8914170120854, 36.0351759360207],
  [-78.8909660740251, 36.0353430741236],
  [-78.8898559445962, 36.0357159591243],
  [-78.8895840111931, 36.0358170770965],
  [-78.8895189947058, 36.0358409774792],
  [-78.8891870585359, 36.0359629885012],
  [-78.8877299508765, 36.0364470198141],
  [-78.8875150111089, 36.0365260756179]]]

In [63]:
#Convert rings to polygons
sdf['geometry'] = sdf['SHAPE'].apply(lambda x: x['rings'])
sdf.head()

,AGE_10_14,AGE_15_19,AGE_20_24,AGE_25_34,AGE_35_44,AGE_45_54,AGE_55_64,AGE_5_9,AGE_65_74,AGE_75_84,...,POP2012,RENTER_OCC,SHAPE,SQMI,STATE_FIPS,STCOFIPS,TRACT,VACANT,WHITE,geometry
0,232,243,191,510,460,466,299,233,160,100,...,3130,456,"{""rings"": [[[-78.8875150111089, 36.03652607561...",1.31,37,37063,000101,127,981,"[[[-78.8875150111089, 36.0365260756179], [-78...."
1,226,284,316,879,682,493,439,297,191,196,...,4419,1101,"{""rings"": [[[-78.9062140604305, 36.04292494892...",1.53,37,37063,000102,179,1939,"[[[-78.9062140604305, 36.0429249489273], [-78...."
2,114,127,210,611,563,439,296,177,102,65,...,3155,662,"{""rings"": [[[-78.880122002928, 36.013835942075...",1.17,37,37063,000200,200,1369,"[[[-78.880122002928, 36.0138359420751], [-78.8..."
3,121,114,271,600,376,277,249,158,84,32,...,2604,759,"{""rings"": [[[-78.9000969815904, 36.01716198573...",0.55,37,37063,000301,130,1042,"[[[-78.9000969815904, 36.0171619857371], [-78...."
4,143,121,280,835,625,417,322,219,116,64,...,3517,881,"{""rings"": [[[-78.8956800297096, 36.01690994174...",0.67,37,37063,000302,124,2249,"[[[-78.8956800297096, 36.0169099417405], [-78...."

In [69]:
from shapely.geometry import Polygon
from shapely.geometry import LinearRing
def polyFromRing(ring):
    r = LinearRing(ring)
    s = Polygon(r)
    return r

In [71]:
#Apply the function to all rows
sdf['geometry']=sdf['SHAPE'].apply(lambda x: Polygon(x.rings[0]))

In [37]:
import geopandas as gpd

In [74]:
#Rename shape field to 'geometry'
sdf.drop('SHAPE',axis=1,inplace=True)

In [ ]:
#Dropy

In [75]:
gdf=gpd.GeoDataFrame(sdf)
gdf.head()

,AGE_10_14,AGE_15_19,AGE_20_24,AGE_25_34,AGE_35_44,AGE_45_54,AGE_55_64,AGE_5_9,AGE_65_74,AGE_75_84,...,POP2010,POP2012,RENTER_OCC,SQMI,STATE_FIPS,STCOFIPS,TRACT,VACANT,WHITE,geometry
0,232,243,191,510,460,466,299,233,160,100,...,3152,3130,456,1.31,37,37063,000101,127,981,"POLYGON ((-78.8875150111089 36.0365260756179, ..."
1,226,284,316,879,682,493,439,297,191,196,...,4535,4419,1101,1.53,37,37063,000102,179,1939,"POLYGON ((-78.9062140604305 36.0429249489273, ..."
2,114,127,210,611,563,439,296,177,102,65,...,2946,3155,662,1.17,37,37063,000200,200,1369,"POLYGON ((-78.880122002928 36.0138359420751, -..."
3,121,114,271,600,376,277,249,158,84,32,...,2504,2604,759,0.55,37,37063,000301,130,1042,"POLYGON ((-78.90009698159039 36.0171619857371,..."
4,143,121,280,835,625,417,322,219,116,64,...,3426,3517,881,0.67,37,37063,000302,124,2249,"POLYGON ((-78.8956800297096 36.0169099417405, ..."

In [76]:
#Export to a shapefile
gdf.to_file(driver='ESRI Shapefile',filename='foo.shp')